    <!-- About Section -->
    <section id="about" class="about section" dir="rtl">

      <!-- Section Title -->
      <div class="container section-title" >
        <h2>عن الشركة</h2>
        <p>من نحن ؟</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content"  data-aos-delay="100">
            <p>
              هدفنا هو تزويد عملائنا بأدوات ذكية ومبتكرة تساهم في تحسين أداء أعمالهم وزيادة الإنتاجية، مع تقديم دعم فني واستشاري على مدار الساعة لضمان أفضل النتائج.
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>تقدم لك أفضل الحلول المحاسبية التي تساعدك على تنظيم عملياتك المالية وإدارة مواردك بكفاءة عالية، مهما كان حجم شركتك.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>في عالم الأعمال الحديث، الكفاءة هي مفتاح النجاح، Bayah Soft توفر لك الحلول المحاسبية التي تمنحك التحكم الكامل في شركتك.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>مع تزايد تعقيد العمليات المالية والإدارية، حلول Bayah Soft تضمن لك إدارة سلسة ومحترفة لأعمالك من خلال أنظمة متكاملة تلائم كل أنواع الشركات.</span></li>
            </ul>
          </div>

          <div class="col-lg-6"  data-aos-delay="200">
            <p>نحن شركة Bayah Soft متخصصون في تقديم الحلول المحاسبية المتكاملة التي تساعد الشركات على إدارة عملياتها المالية والإدارية بكفاءة عالية. نسعى دائماً لتوفير الأنظمة التي تلبي احتياجات الشركات بمختلف أحجامها، سواء كانت صغيرة أو متوسطة أو كبيرة. نلتزم بتقديم خدمات ذات جودة عالية تضمن لك تحقيق النجاح والاستدامة في بيئة العمل المتغيرة.</p>
            <a href="#" class="read-more"><span>المزيد</span><i class="bi bi-arrow-left"></i></a>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->
